{% extends 'Base.html' %}
{% load static %}


{% block inicio %} Inicio {% endblock %}
{% block proyectos %} Proyectos {% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'CSS/Inicio.css' %}">

<body id="bckground">

  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Benjamin Jimenez</h1>
      <p><span class="typed" data-typed-items="Analista., Desarrollador., Fotografia., Rapero."></span></p>
    </div>
  </section>
</body>


<script src="{% static 'js/librerias/typed/typed.umd.js' %}"></script>
<script src="{% static 'js/Ocupadas/typedMio.js' %}"></script>

{% endblock %}

